.background{
	-fx-background-color: #B0FF92;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.list-cell {
     -fx-alignment: top-left;
}